In [1]:
import sys, win32com.client
import sapscript as ss
from IPython.display import display

In [2]:
sap = ss.sap()

In [3]:
try:
    sap.check_system('ERT')
    session = sap.session()
    
    sap.run('zimkr')
    session.findById("wnd[0]/usr/ctxtS_WRK-LOW").text = "2024"
    session.findById("wnd[0]/tbar[1]/btn[8]").press()
    cols = ['VBELN', 'ADDTI', 'CPROC', 'INITS_GDS', 'DDLTI']
    cols_name = ['Заказ', 'ВремяДобавл', 'ОБраб','ИсхСтоим', 'СобратьК']
    grid = session.findById("wnd[0]/usr/cntlALV_0100/shellcont/shellcont/shell/shellcont[0]/shell")
    table = sap.read_alv(grid, cols, cols_name)
    display(table)
except:
    sap.error_print()
finally:
    session = None

          Заказ        ВремяДобавл ОБраб  ИсхСтоим           СобратьК
0    5630054763  29.08.19 17:39:06        2 598,00  30.08.19 12:00:00
1    5630054762  29.08.19 17:39:01     X  2 598,00  30.08.19 12:00:00
2    5630054761  29.08.19 17:28:38     X  2 598,00  30.08.19 12:00:00
3    5630054760  29.08.19 17:28:33     X  2 598,00  30.08.19 12:00:00
4    5630054759  29.08.19 17:28:21     X  2 598,00  30.08.19 12:00:00
5    5632000685  29.08.19 16:39:49            0,00  29.08.19 17:39:49
6    5632000684  29.08.19 16:37:52     X      0,00  29.08.19 17:37:52
7    5632000683  29.08.19 15:52:30           59,00  29.08.19 18:00:00
8    5630054709  29.08.19 15:43:24     X  2 598,00  30.08.19 12:00:00
9    5630054708  29.08.19 15:43:18        2 598,00  30.08.19 12:00:00
10   5630054707  29.08.19 15:43:04        2 598,00  30.08.19 12:00:00
11   5632000678  29.08.19 15:36:20          672,00  29.08.19 16:36:20
12   5632000677  29.08.19 15:30:42          279,89  29.08.19 16:30:42
13   5630054702  29.08.19 14:49:58     X  2 598,00  30.08.19 12:00:00
14   5630054701  29.08.19 14:31:16        2 598,00  29.08.19 15:31:16
15   5630054700  29.08.19 14:31:00     X  2 598,00  30.08.19 12:00:00
16   5632000675  29.08.19 14:19:47     X    325,00  29.08.19 15:19:47
17   5632000674  29.08.19 14:18:59     X    325,00  29.08.19 15:18:59
18   5630054699  29.08.19 14:17:02     X  2 598,00  30.08.19 12:00:00
19   5632000673  29.08.19 14:16:29     X    325,00  29.08.19 15:16:29
20   5632000672  29.08.19 14:15:27     X    325,00  29.08.19 15:15:27
21   5632000671  29.08.19 14:14:41     X    325,00  29.08.19 15:14:41
22   5632000670  29.08.19 14:13:55     X    325,00  29.08.19 15:13:55
23   5632000669  29.08.19 14:13:09          325,00  29.08.19 15:13:09
24   5630054698  29.08.19 14:12:07        2 598,00  30.08.19 12:00:00
25   5632000668  29.08.19 14:11:18          325,00  29.08.19 15:11:18
26   5630054697  29.08.19 14:10:26     X  2 598,00  30.08.19 12:00:00
27   5632000667  29.08.19 14:09:40          566,00  29.08.19 15:09:40
28   5630054696  29.08.19 14:06:31     X  2 598,00  30.08.19 12:00:00
29   5630054695  29.08.19 14:06:27     X  2 598,00  29.08.19 15:06:27
..          ...                ...   ...       ...                ...
329  5630054227  27.08.19 20:46:29        3 507,30  27.08.19 21:46:29
330  5630054220  27.08.19 20:38:05        3 507,30  27.08.19 21:38:05
331  5630054213  27.08.19 20:35:48        3 507,30  27.08.19 21:35:48
332  5630054209  27.08.19 20:34:10        3 507,30  27.08.19 21:34:10
333  5630054208  27.08.19 20:31:54        3 507,30  27.08.19 21:31:54
334  5630054207  27.08.19 20:30:24        3 507,30  27.08.19 21:30:24
335  5630054206  27.08.19 20:25:25        3 507,30  27.08.19 21:25:25
336  5630054205  27.08.19 20:23:19        3 507,30  27.08.19 21:23:19
337  5630054204  27.08.19 20:20:51        3 507,30  27.08.19 21:20:51
338  5630054203  27.08.19 20:20:04        3 507,30  27.08.19 21:20:04
339  5630054202  27.08.19 20:10:17        3 507,30  27.08.19 21:10:17
340  5630054201  27.08.19 20:08:22        3 507,30  27.08.19 21:08:22
341  5630054200  27.08.19 20:05:24        3 507,30  27.08.19 21:05:24
342  5630054199  27.08.19 20:03:43        3 507,30  27.08.19 21:03:43
343  5630054198  27.08.19 19:39:47        3 507,30  27.08.19 20:39:47
344  5630054197  27.08.19 19:37:10        3 507,30  27.08.19 20:37:10
345  5630054192  27.08.19 19:28:35        3 897,00  27.08.19 20:28:35
346  5630054179  27.08.19 19:04:11        3 897,00  27.08.19 20:04:11
347  5630054084  27.08.19 16:28:58        3 897,00  27.08.19 17:28:58
348  5630054082  27.08.19 16:24:02        3 897,00  27.08.19 17:24:02
349  5630054078  27.08.19 16:20:06        3 897,00  27.08.19 17:20:06
350  5630054006  27.08.19 14:50:32        3 897,00  27.08.19 15:50:32
351  5630053949  26.08.19 00:41:12        3 507,30  26.08.19 12:00:00
352  5630053948  26.08.19 00:40:41        3 507,30  26.08.19 12:00:00
353  5630053947  26.08.19 00:38:46        3 507,30  26.08.19 12:00:00
354  5630053944  26.08.19 00:10:12        3 897,00  26.08.19 12:00:00
355  5630053935  25.08.19 23:42:34        3 897,00  26.08.19 12:00:00
356  5630053933  25.08.19 23:41:55        3 897,00  26.08.19 12:00:00
357  5630053931  25.08.19 23:38:38        3 897,00  26.08.19 12:00:00
358

[359 rows x 5 columns]

In [24]:
table

          Заказ        ВремяДобавл ОБраб  ИсхСтоим           СобратьК
0    5632000683  29.08.19 15:52:30           59,00  29.08.19 18:00:00
1    5630054709  29.08.19 15:43:24        2 598,00  30.08.19 12:00:00
2    5630054708  29.08.19 15:43:18        2 598,00  30.08.19 12:00:00
3    5630054707  29.08.19 15:43:04        2 598,00  30.08.19 12:00:00
4    5632000678  29.08.19 15:36:20          672,00  29.08.19 16:36:20
5    5632000677  29.08.19 15:30:42          279,89  29.08.19 16:30:42
6    5630054702  29.08.19 14:49:58     X  2 598,00  30.08.19 12:00:00
7    5630054701  29.08.19 14:31:16        2 598,00  29.08.19 15:31:16
8    5630054700  29.08.19 14:31:00     X  2 598,00  30.08.19 12:00:00
9    5632000675  29.08.19 14:19:47          325,00  29.08.19 15:19:47
10   5632000674  29.08.19 14:18:59          325,00  29.08.19 15:18:59
11   5630054699  29.08.19 14:17:02     X  2 598,00  30.08.19 12:00:00
12   5632000673  29.08.19 14:16:29          325,00  29.08.19 15:16:29
13   5632000672  29.08.19 14:15:27          325,00  29.08.19 15:15:27
14   5632000671  29.08.19 14:14:41          325,00  29.08.19 15:14:41
15   5632000670  29.08.19 14:13:55          325,00  29.08.19 15:13:55
16   5632000669  29.08.19 14:13:09          325,00  29.08.19 15:13:09
17   5630054698  29.08.19 14:12:07        2 598,00  30.08.19 12:00:00
18   5632000668  29.08.19 14:11:18          325,00  29.08.19 15:11:18
19   5630054697  29.08.19 14:10:26     X  2 598,00  30.08.19 12:00:00
20   5632000667  29.08.19 14:09:40          566,00  29.08.19 15:09:40
21   5630054696  29.08.19 14:06:31     X  2 598,00  30.08.19 12:00:00
22   5630054695  29.08.19 14:06:27     X  2 598,00  29.08.19 15:06:27
23   5632000666  29.08.19 14:04:59          306,00  29.08.19 15:04:59
24   5630054694  29.08.19 14:03:26     X  2 598,00  30.08.19 12:00:00
25   5630054693  29.08.19 13:53:48     X  1 299,00  29.08.19 15:00:00
26   5630054690  29.08.19 13:50:42        1 299,00  29.08.19 15:00:00
27   5630054687  29.08.19 12:57:19     X  1 299,00  29.08.19 15:00:00
28   5630054686  29.08.19 12:36:22     X  1 299,00  29.08.19 15:00:00
29   5630054685  29.08.19 12:35:07        2 598,00  30.08.19 12:00:00
..          ...                ...   ...       ...                ...
322  5630054227  27.08.19 20:46:29        3 507,30  27.08.19 21:46:29
323  5630054220  27.08.19 20:38:05        3 507,30  27.08.19 21:38:05
324  5630054213  27.08.19 20:35:48        3 507,30  27.08.19 21:35:48
325  5630054209  27.08.19 20:34:10        3 507,30  27.08.19 21:34:10
326  5630054208  27.08.19 20:31:54        3 507,30  27.08.19 21:31:54
327  5630054207  27.08.19 20:30:24        3 507,30  27.08.19 21:30:24
328  5630054206  27.08.19 20:25:25        3 507,30  27.08.19 21:25:25
329  5630054205  27.08.19 20:23:19        3 507,30  27.08.19 21:23:19
330  5630054204  27.08.19 20:20:51        3 507,30  27.08.19 21:20:51
331  5630054203  27.08.19 20:20:04        3 507,30  27.08.19 21:20:04
332  5630054202  27.08.19 20:10:17        3 507,30  27.08.19 21:10:17
333  5630054201  27.08.19 20:08:22        3 507,30  27.08.19 21:08:22
334  5630054200  27.08.19 20:05:24        3 507,30  27.08.19 21:05:24
335  5630054199  27.08.19 20:03:43        3 507,30  27.08.19 21:03:43
336  5630054198  27.08.19 19:39:47        3 507,30  27.08.19 20:39:47
337  5630054197  27.08.19 19:37:10        3 507,30  27.08.19 20:37:10
338  5630054192  27.08.19 19:28:35        3 897,00  27.08.19 20:28:35
339  5630054179  27.08.19 19:04:11        3 897,00  27.08.19 20:04:11
340  5630054084  27.08.19 16:28:58        3 897,00  27.08.19 17:28:58
341  5630054082  27.08.19 16:24:02        3 897,00  27.08.19 17:24:02
342  5630054078  27.08.19 16:20:06        3 897,00  27.08.19 17:20:06
343  5630054006  27.08.19 14:50:32        3 897,00  27.08.19 15:50:32
344  5630053949  26.08.19 00:41:12        3 507,30  26.08.19 12:00:00
345  5630053948  26.08.19 00:40:41        3 507,30  26.08.19 12:00:00
346  5630053947  26.08.19 00:38:46        3 507,30  26.08.19 12:00:00
347  5630053944  26.08.19 00:10:12        3 897,00  26.08.19 12:00:00
348  5630053935  25.08.19 23:42:34        3 897,00  26.08.19 12:00:00
349  5630053933  25.08.19 23:41:55        3 897,00  26.08.19 12:00:00
350  5630053931  25.08.19 23:38:38        3 897,00  26.08.19 12:00:00
351

[352 rows x 5 columns]